.circle {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  margin-left: 400px;
}

.centre {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ccc;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 10;
  box-shadow: 0 2px 4px -1px black;
}

.tick {
  position: absolute;
  z-index: 2;
  border: 1px solid #666;
  height: 5px;
  left: 50%;
  transform-origin: 0 150px;
}

.tick:nth-of-type(5n) {
  border: 1px solid #222;
  height: 12px;
}

.tick:nth-of-type(15n) {
  border: 2px solid #444;
  height: 16px;
}

.hand {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  border-top-left-radius: 70%;
  border-top-right-radius: 70%;
  background-image: linear-gradient(black 50%, transparent 50%);
}

#secHand {
  z-index: 4;
  width: 1.5px;
  height: 200px;
}

#minHand {
  z-index: 3;
  width: 4px;
  height: 180px;
}

#hourHand {
  z-index: 5;
  width: 6px;
  height: 150px;
}
